@using Lazada.Models;

    @if (Session["quyen"].ToString() == "all")
    {
        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-home"></i>
            <span class="badge bg-green">3</span>
        </a>
        <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
            <li class="nav-item">
                <a class="dropdown-item">
                    <span class="image"><img src="images/img.jpg" /></span>
                    <span><a href="~/Admin/khuvuc/?kv=Miền Nam">Miền Nam</a></span>

                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item">
                    <span class="image"><img src="images/img.jpg" /></span>
                    <span><a href="~/Admin/khuvuc/?kv=Miền Trung">Miền Trung</a></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item">
                    <span class="image"><img src="images/img.jpg" /></span>
                    <span><a href="~/Admin/khuvuc/?kv=Miền Bắc">Miền Bắc</a></span>
                </a>
            </li>
        </ul>
    }
    
